<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/Admin/products.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Categories</title>


</head>
<body>

<header th:replace="fragment :: admin-header">
</header>

<div class="row" style="flex-wrap: nowrap;">
    <!-- Sidebar -->
    <nav th:replace="fragment :: admin-navbar">
    </nav>

    <!-- Main Content -->
    <div id="content">

        <button id="sidebarCollapse" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#sidebarNav"
                aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span> > </span>
        </button>

        <main>
            <div class="content-header">
                <h1>Categories</h1>
                <a th:href="@{/admin/add-categories}" class="new-product">New Category</a>
            </div>
            <form th:action="@{/admin/product/search-product}" method="get">
                <div class="search-box">
                    <input type="text" placeholder="Search..." name="value">
                    <button type="submit" class="action-link">Search</button>
                </div>
            </form>


            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}"
                    th:style="${category.status == 'IN-ACTIVE' ? 'background-color: #ffaaaa;' : 'background-color: #d4d4d4'}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.categoryName}"></td>
                    <td th:text="${category.status}"></td>
                    <td>
                        <!-- Style the action links as buttons -->
    
                        <a th:onclick="'openEditModal(\'' + ${category.id} + '\');'" class="action-link">Edit</a>
                        <a th:onclick="'openConfirmationModal(\'' + ${category.id} + '\');'" class="action-link">Disable</a>

                    </td>
                </tr>

                </tbody>
            </table>


        </main>


    </div>

    <!--    Modal-->
<!--Edit Category-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="editInput" class="form-control" placeholder="Enter new category name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="editConfirmButton" type="button" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>


<!--Confirm To edit-->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to do this?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="confirmButton" type="button" class="btn btn-secondary" >Conform</button>

                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




<script th:inline="javascript" >
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    function openEditModal(id) {
        // Open the modal
        $('#editModal').modal('show');

        console.log("sample");

        // When the user clicks the Save Changes button
        $('#editConfirmButton').click(function () {
            var newCategoryName = $('#editInput').val(); // Get the updated category name
            var targetUrl = '/admin/edit-categories?id=' + id + '&newName=' + newCategoryName; // Construct the URL
            window.location.href = targetUrl; // Navigate to the updated URL
        });
    }

    var cat_id ;
    function openConfirmationModal(categoryId) {
        // Set the category ID in the modal's Confirm button data attribute for later use
        cat_id = categoryId;
        $('#confirmationModal').modal('show');
    }

    document.getElementById("confirmButton").addEventListener("click", function() {
        // Get the category ID from the Confirm button data attribute
    console.log("on confirm ")
        // Redirect to the admin/disableCategory with the category ID
        window.location.href = '/admin/disableCategory/' + cat_id;
    });

</script>

</body>
</html>
