<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/Admin/products.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Customers</title>
</head>
<body>



<header th:replace="fragment :: admin-header">

</header>


<div class="row" style="flex-wrap: nowrap;">
    <!-- Sidebar -->
    <nav th:replace="fragment :: admin-navbar">

    </nav>


    <!-- Main Content -->
    <div id="content">

        <main>
            <div class="content-header">
                <h1>Customers</h1>
<!--                <a  th:href="@{/admin/user/download}" class="new-product"></a>-->
            </div>
<!--            <form th:action="@{/admin/user/search-user}" method="get">-->
<!--                <div class="search-box">-->
<!--                    <input type="text" placeholder="Search..." name="value">-->
<!--                    <button type="submit" class="action-link">Search</button>-->
<!--                </div>-->
<!--            </form>-->

            <!--            <div class="select-date">-->
            <!--                Select Date-->
            <!--            </div>-->

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Moblie</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Use Thymeleaf to loop through your product data and display it in the table -->
                <tr th:each="user : ${users}" th:style="${user.status == 'BLOCKED' ? 'background-color: #ffaaaa;' : 'background-color: #d4d4d4'}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.mobile}"></td>
                    <td th:text="${user.status}" th:style="${user.status == 'BLOCKED' ? 'color: red;' : 'white'}"></td>
                    <td>
                        <!-- Style the action links as buttons -->
                        <a th:href="@{/admin/customers/block-user/{id}(id=${user.id})}" class="action-link">[[${user.status == 'BLOCKED' ? 'UN-BLOCK' : 'BLOCK'}]]</a>
                    </td>
                </tr>

                </tbody>
            </table>

            <!-- Pagination controls -->
            <!--    <div class="pagination">-->
            <!--        <ul>-->
            <!--            <li th:if="${currentPage > 1}">-->
            <!--                <a th:href="@{/products(page=1)}">First</a>-->
            <!--            </li>-->
            <!--            <li th:if="${currentPage > 1}">-->
            <!--                <a th:href="@{/products(page=${currentPage - 1})}">Previous</a>-->
            <!--            </li>-->
            <!--            <li th:if="${currentPage < totalPages}">-->
            <!--                <a th:href="@{/products(page=${currentPage + 1})}">Next</a>-->
            <!--            </li>-->
            <!--            <li th:if="${currentPage < totalPages}">-->
            <!--                <a th:href="@{/products(page=${totalPages})}">Last</a>-->
            <!--            </li>-->
            <!--        </ul>-->
            <!--    </div>-->

        </main>


    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>
