.images{

width:30px;
height:30px;
margin-right:15px;
}

.custom-text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.filter-button {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    /*background-color: #; /* Change the background color to your preference */
    color: #3498db; /* Text color */
    border: none;
    text-decoration: none; /* Remove underline from the link */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.filter-button a {
    color: inherit; /* Inherit the text color from the parent */
    text-decoration: none; /* Remove underline from the link */
}
.product-image{
    width:50%;
    height:50%;
}
.card{
    width:50%;
}

.card-img-top{
    width: 80%;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
}
.card-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white; /* Change the color of the heart icon as needed */
}
.card-div{
    height: 500px;
    width: 250px;
}
.offcanvas {
    width: 300px !important;
}
.offcanvas-body {
    padding: 1rem;
}
.filter-menu {
    list-style-type: none;
    padding: 0;
}
.filter-menu li {
    margin-bottom: 1rem;
}
.checkbox-list {
    list-style-type: none;
    padding: 0;
}
.checkbox-list li {
    margin-bottom: 0.5rem;
}