<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/User/cart.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <style>

        .button-container {
            display: flex;
            align-items: center;
        }

        .cart-quantity {
            width: 40px; /* Adjust the width as needed */
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            /* Add more styles as per your preference */
        }
    </style>


</head>
<body>

<header th:replace="navfragment :: header">

</header>
<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4" th:id="'card-' + ${productDetails.product.id}"
                     th:each="productDetails : ${cardProducts}">
                    <div class="card-body">
                        <!-- Single item -->
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                     data-mdb-ripple-color="light">
                                    <img th:src="@{'/uploads/' + ${productDetails.getProduct().images_path[0]}}"
                                         class="w-100"
                                         alt="Blue Jeans Jacket"/>
                                    <a href="#">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>
                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong style="font-size: 20px;"
                                           th:text="${productDetails.getProduct().name}"></strong></p>
                                <p th:text=" 'Colour  :'+ ${productDetails.product.colour}"></p>
                                <p th:text="'Type     &nbsp  :' + ${productDetails.product.type}"></p>

                                <button type="button" class="btn btn-warning btn-sm me-1 mb-2"
                                        data-mdb-toggle="tooltip"
                                        title="Remove item">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <button onclick="removeProducts(this)" type="button"
                                        class="btn btn-danger btn-sm me-1 mb-2"
                                        data-mdb-toggle="tooltip"
                                        th:attr="data-product-id=${productDetails.product.id}"
                                        th:id="'remove-' + ${productDetails.product.id}"
                                        title="Remove item">
                                    <i class="fas fa-trash"></i>
                                </button>
                                <input id="couponMinAmount" type="hidden" th:value="${couponMinAmount}">
                                <input id="currentTotalAmount" type="hidden" th:value="${currentTotal}">

                                <!-- Data -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <div class="d-flex mb-4" style="max-width: 300px">
                                    <div class="form-outline">
                                        <div class="button-container">
                                            <button class="count-button"
                                                    th:attr="data-product-id=${productDetails.product.id}"
                                                    onclick="quantity(-1, this)">-
                                            </button>
                                            <input class="cart-quantity"
                                                   th:id="'product-' + ${productDetails.product.id}"
                                                   th:value="${productDetails.quantity}">
                                            <button class="count-button"
                                                    th:attr="data-product-id=${productDetails.product.id}"
                                                    onclick="quantity(1, this)">+
                                            </button>
                                            <input type="hidden" th:id="'stock-'+${productDetails.product.id}"
                                                   th:value="${productDetails.product.stock}">
                                            <input type="hidden" th:id="'quantity-'+${productDetails.product.id}"
                                                   th:value="${productDetails.quantity}">

                                        </div>
                                    </div>
                                </div>
                                <!-- Quantity -->

                                <!-- Price -->
                                <p th:id="'multiplier-' + ${productDetails.product.id}"
                                   class="text-start text-md-center" style="font-size: 30px">
                                    <strong th:text=" '₹'+ ${productDetails.product.price}"></strong>
                                </p>

                                <p class="text-start text-md-center" style="font-size: 20px;display: none;"
                                   th:id="'error-' + ${productDetails.product.id}">
                                </p>
                                <p th:if="${productDetails.product.status == 'IN-ACTIVE'}"
                                   class="text-start text-md-center out-of-stock" style="font-size: 20px;color: red;font-weight: bold;">
                                    Out Of Stock
                                </p>




                                <!-- Price -->
                            </div>
                        </div>
                        <!-- Single item -->

                        <hr class="my-4"/>

                        <!-- Single item -->

                        <!-- Single item -->
                    </div>

                </div>
                <div class="card mb-4">
                    <!-- Additional content here -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Products
                                <p id="subTotal">[[${currentTotal}]]</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>Free</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <h1 style="font-size: 15px;">Coupon Discount</h1>

                                </div>
                                <p id="CouponDiscount" th:text="${discountAmount}"></p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including GST)</p>
                                    </strong>
                                </div>
                                <p id="totalAmountIds" th:text="${currentTotal}"></p>
                            </li>
                        </ul>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Coupon Code" id="coupon">
                            <div class="input-group-append">
                                <button onclick="couponVerification()" th:action="submit" class="btn btn-primary"
                                        type="button">Apply Coupon
                                </button>
                            </div>
                        </div>
                        <a  onclick="checkOutValidation()" type="button" class="btn btn-primary btn-lg btn-block">
                            Go to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--when removing the product-->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The applied coupon will be cancelled
            </div>
            <div class="modal-footer">
                <button type="button" onclick="conformedToChange()" class="btn btn-primary" id="confirmAction">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="removeConformation" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeConformationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                If you continue the applied coupon will be cancelled
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="conformToRemove">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--when reducing the quantity-->
<div class="modal fade" id="reducingModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reducingModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The applied coupon will be cancelled
            </div>
            <div class="modal-footer">
                <button type="button" onclick="conformedToReduce()" class="btn btn-primary" id="confirmActions">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">


    function checkOutValidation(){

        $.ajax({
            url:"/user/checkout/validation",
            method:'GET',
            success:function (response){
                console.log(response);
                if(response){
                    toast("Out Of Stock");
                    window.location.reload();
                    return;
                }else{
                    toast("Something Went Wrong");

                }
                location.href = "/user/checkout";
            }
        })
    }

    // Define reusable variables
    const subResultElement = document.getElementById("subTotal");
    const resultElement = document.getElementById("totalAmountIds");
    const couponDiscount = document.getElementById("CouponDiscount");
    let newTotal;


    function conformedToReduce() {

        $('#reducingModal').modal('hide');
        couponDiscount.innerText = "0.0";
        $.ajax({
            url: '/user/cart/removeCoupon',
            method: "GET",
            success: function (response) {
                console.log("Response from removeCoupon" + response);
            }
        });
        location.reload();
    }

    // Function to update product quantity
    function quantity(counter, element) {
        const productId = element.getAttribute('data-product-id');
        const countElement = document.getElementById("product-" + productId);
        const error = document.getElementById("error-" + productId);
        const stockElement = document.getElementById("stock-" + productId);
        const couponMinAmounts = document.getElementById("couponMinAmount")
        const button = document.getElementById("conformToRemove");


        let count = +countElement.value;
        let stock = +stockElement.value;

        const oldTotal = parseFloat(subResultElement.textContent.replace(/[^0-9.]/g, ''));
        const multiplierElement = document.getElementById("multiplier-" + productId);
        const multiplierContent = multiplierElement.textContent.trim();
        const multiplierValue = parseFloat(multiplierContent.replace(/[^0-9.]/g, ''));

        newTotal = oldTotal;
        const subResultContent = parseFloat(subResultElement.innerText.replace(/[^0-9.]/g, '')); // Convert content to a number

        if ((subResultContent - multiplierValue) <= parseFloat(couponMinAmounts.value) && counter === -1) {
            console.log("inside")
            $('#reducingModal').modal('show');
            return;
        } else {
            console.log("else")
        }

        if (count <= 1 && counter <= 0) {
            return;
        }

        if (count >= stock && counter >= 0) {
            return;
        }

        if (counter === -1 && count > 1) {
            newTotal = oldTotal - multiplierValue;
        } else if (counter === 1) {
            newTotal = oldTotal + multiplierValue;
        }
        subResultElement.textContent = "₹ " + newTotal;
        resultElement.textContent = " ₹ " + newTotal;
        ;

        $.ajax({
            url: `/user/cart/quantity-counter?counter=${counter}&id=${productId}`,
            method: "GET",
            success: function (response) {
                if (parseInt(response) === count) {
                    error.innerHTML = "You have reached the stock quantity";
                    error.style.display = "block";
                } else {
                    error.style.display = "none";
                }
            }
        });

        count += counter;
        countElement.value = count;
    }

    let globalElement;
    function removeProducts(element) {
        const productId = element.getAttribute('data-product-id');
        const card = document.getElementById("card-" + productId);
        const multiplierElement = document.getElementById("multiplier-" + productId);

        const multiplierContent = multiplierElement.textContent.trim();
        const multiplierValue = parseFloat(multiplierContent.replace(/[^0-9.]/g, ''));
        const oldTotal = parseFloat(subResultElement.textContent.replace(/[^0-9.]/g, ''));
        newTotal = oldTotal;

        globalElement = element;

        console.log(couponDiscount.innerText);

        if (isReached(String(multiplierValue))) {
            $('#removeConformation').modal('show');
            return;
        }
            removeHelper(productId, card, oldTotal, multiplierValue);
            // location.reload();


    }

    const button = document.getElementById("conformToRemove");
    button.addEventListener("click", function () {


        $('#removeConformation').modal('hide');
        couponDiscount.innerText = "0";

        $.ajax({
            url: '/user/cart/removeCoupon',
            method: "GET",
            success: function (response) {
                console.log("Response from removeCoupon" + response);
            }
        });

        removeProducts(globalElement);

    });

    // Function to help remove products
    function removeHelper(productId, card, oldTotal, multiplierValue) {

        const quantity = document.getElementById("product-" + productId).value;
        console.log(productId);
        console.log(quantity);
        console.log(multiplierValue * quantity);

        newTotal = oldTotal - (multiplierValue * quantity);
        subResultElement.textContent = "₹ " + newTotal;
        resultElement.textContent = " ₹ " + newTotal;

        $.ajax({
            url: `/user/cart/remove-product/${productId}`,
            method: "GET",
            success: function (response) {
                if (response === "success") {
                    card.innerHTML = null;
                }else if (response === "failed"){
                    toast("Failed To Remove Product From Cart");
                }
            }
        });
    }

    // Function to check if coupon limit is reached
    function isReached(productAmount) {

        const totalAmount = String(document.getElementById("currentTotalAmount").value);
        const couponMinAmount = parseFloat(document.getElementById("couponMinAmount").value);

        const intValue = parseInt(resultElement.innerText, 10);

        return (intValue - productAmount) < couponMinAmount;
    }

    function conformedToChange() {
        let couponCode = document.getElementById("coupon");

        $.ajax({
            url: `/user/cart/update-coupon/${couponCode.value}`,
            method: "GET",
            success: function (response) {
                if (response[0] === -1.0) {
                    toast("Invalid Coupon");
                } else {
                    $('#confirmationModal').modal('hide');
                    couponDiscount.innerText = response[1];

                }
            }
        });

    }

    // Function to handle coupon verification
    function couponVerification() {
        const couponCode = document.getElementById("coupon");

        $.ajax({
            url: `/user/cart/coupon-validate/${couponCode.value}`,
            method: "GET",
            success: function (response) {
                if (response[0] === -1.0) {
                    toast("Unfortunately, coupon is invalid");
                } else if (response[1] === 0.0) {
                    couponDiscount.innerText = response[0];
                    toast("Coupon is already in use.");
                } else if (response[0] === 1.0) {
                    toast("Hurry, Coupon applied successfully");
                    couponDiscount.innerText = response[1];
                    location.reload();
                } else if (response[0] === 0.0) {
                    $('#confirmationModal').modal('show');
                }
            }
        });
    }

    function toast(message){
        Toastify({
            text: message,
            duration: 3000,
            position: "center",
            className: "info",
            style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
            }
        }).showToast();
    }


</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


</body>
</html>
