<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product-Details</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>

    <link th:href="@{/css/User/productDetails.css}" rel="stylesheet" type="text/css">


</head>
<body>
<!--Header-->
<header th:replace="navfragment :: header">

</header>


<!--Content-->
<div class="container">

    <div class="row" style="margin-top:20px;">
        <div class="col-md-6">
            <div id="productImages" class="product">
                <img id="mainImage" class="headphone" th:src="@{'/uploads/' + ${product.getImages_path[0]}}"
                     alt="Headphone" style="width: 100%">
            </div>
            <div class="row mt-4" style="margin-left: 5%;">
                <div class="col">
                    <img class="thumbnail" th:src="@{'/uploads/' + ${product.getImages_path[1]}}"
                         th:attr="data-image-src=@{'/uploads/' + ${product.getImages_path[1]}}"
                         alt="Thumbnail 1"
                         style="width: 80px; height: 50px">
                </div>
                <div class="col">
                    <img class="thumbnail" th:src="@{'/uploads/' + ${product.getImages_path[2]}}"
                         th:attr="data-image-src=@{'/uploads/' + ${product.getImages_path[2]}}"
                         alt="Thumbnail 2"
                         style="width: 80px; height: 50px">
                </div>
                <div class="col">
                    <img class="thumbnail" th:src="@{'/uploads/' + ${product.getImages_path[0]}}"
                         th:attr="data-image-src=@{'/uploads/' + ${product.getImages_path[0]}}"
                         alt="Thumbnail 3"
                         style="width: 80px; height: 50px">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details" style="margin-top: 10px;">
                <h2 th:text="${product.name}"></h2>
                <p style="font-family:'Jomhuria';font-weight:bold;font-size:20px;" th:text="${product.description}"></p>
                <p style="font-family:'Inria Serif';font-weight:bold;font-size:15px;">
                    Name: <span th:text="${product.name}"></span> <br>
                    Over Ear Connectivity Technology: Bluetooth 5.2
                </p>
                <p style="font-family:'Montserrat';font-size:25px;font-weight:bold;" th:text="${'₹'+product.price}"></p>
                <div class="d-flex align-items-center">
                    <button class="btn btn-primary" id="add-to-cart"><a th:href="@{/user/addToCart(id=${product.id})}">Add to Cart</a></button>
                </div>
            </div>
        </div>
    </div>


    <!--    Descriptions-->
    <div class="row mt-4">
        <div class="col-md-12 text-center ">
            <hr style="border-top: 1px solid #000;">
            <h1 class="mt-2">Related Products</h1>
        </div>
    </div>

    <!-- Related Products -->
    <div class="row" style="margin-top: 20px;">

        <div class="col-lg-3 col-md-4 col-sm-6" th:each="product, productIndex : ${relatedProduct}">
            <!-- Related Product Card 1 -->
            <div class="card "
                 style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); width: 100%;">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                     data-mdb-ripple-color="light">
                    <img th:src="@{'/uploads/' + ${product.getImages_path[0]}}" style="width: 250px; height: 200px;"
                         class="card-img-top" alt="Product Image"/>
                    <a href="#" style="position: absolute; top: 10px; right: 10px;"><img
                            style="width: 24px; height: 24px;" th:src="@{/image/heart-regular.svg}"
                            alt="Add to Favorites"></a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-reset">
                        <h5 class="card-title" th:text="${product.name}"></h5>
                    </a>
                    <p class="card-text"
                       style="font-family: 'Poppins'; font-size: 12px; margin-top: -5px; max-height: 40px; overflow: hidden; text-overflow: ellipsis;"
                       th:text="${product.description}">

                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="card-text" th:text="'$'+${product.price}"></h6>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Footer -->
<footer class=" text-center text-lg-start bg-dark text-muted">

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5" style="margin-top: 50px;">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->

                    <p>
                        <img th:src="@{/image/brand-logo.svg}">
                    </p>
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>HiBeat
                    </h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-5">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="font-weight:bold;">
                        Pages
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Shop</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Wishlist</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Payment</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-5">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="font-weight:bold;">
                        Service
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Product</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Contact</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">About</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-5">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="font-weight:bold;">
                        Contact
                    </h6>
                    <p>
                        <img th:src="@{/image/phone.svg}" class="align-middle"> 91+9961811304
                    </p>
                    <p>
                        <img th:src="@{/image/email.svg}" class="align-middle"> amrithesh0000@gmail.com
                    </p>
                    <p>
                        <img th:src="@{/image/location.svg}" class="align-middle"> Karimkkuty, Kalpetta, Wayanad
                    </p>
                    <div class="text-center">
                        <img th:src="@{/image/facebooks.svg}">
                        <img th:src="@{/image/linkedinlogo.svg}" style="padding-left:20px;">
                        <img th:src="@{/image/instagramlogo.svg}" style="padding-left:20px;">
                    </div>
                </div>


                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
</footer>


<script>
    const options = {
        width: 250,
        height: 300,
        zoomWidth: 500,
        offset: {vertical: 0, horizontal: 0},
    };
    const imageZoom = new ImageZoom(document.getElementById("productImages"), options);

    const thumbnails = document.querySelectorAll('.thumbnail');
    const mainImage = document.getElementById('mainImage');
    const defaultImageSrc = mainImage.getAttribute('src');

    thumbnails.forEach(thumbnail => {
        thumbnail.addEventListener('click', function () {
            const imageSrc = this.getAttribute('data-image-src');
            mainImage.src = imageSrc;

            // Reset the image zoom
            imageZoom.destroy();
            imageZoom = new ImageZoom(document.getElementById("productImages"), options);
        });
    });
</script>


<!-- Include Bootstrap and any other necessary scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
