<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Style.css -->
    <link th:href="@{/css/User/shoppageStyle.css}" rel="stylesheet" type="text/css">


</head>
<body>

<header th:replace="navfragment :: header">

</header>

<!--Navi-bar Closed-->
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Shop</h1>
            <div class="filter-button">
                <a href="#">Filter<img style="width:30px;height:30px;padding-left:10px;"
                                               th:src="@{/image/Filter.svg}"></a>
            </div>
        </div>
    </div>
</div>
<!--Product Listing-->
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 mb-4" th:each="product, productIndex : ${products}">
                <!-- Check if product.status is active -->
                <div th:if="${product.status == 'ACTIVE'}">
                    <a th:href="@{'/user/product-details/' + ${product.id}}">
                        <div class="card"
                             style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); width: 100%;"
                             href="/home">
                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light">
                                <img th:src="@{'/uploads/' + ${product.getImages_path[0]}}" class="card-img-top"
                                     alt="Product Image">
                                <a onclick="addToWishlist(this)" th:data-product-id="${product.id}" style="position: absolute; top: 10px; right: 10px; cursor: pointer"
                                   onmouseover="this.getElementsByTagName('img')[0].style.filter = 'invert(50%)';"
                                   onmouseout="this.getElementsByTagName('img')[0].style.filter = 'none';">
                                    <img style="width: 24px; height: 24px;" th:src="@{/image/heart-regular.svg}" alt="Add to Favorites">
                                </a>

                            </div>
                            <div class="card-body">
                                    <h5  class="card-title text-primary" th:text="${product.name}">Product name</h5>

                                <p class="card-text"
                                   style="font-family: 'Poppins'; font-size: 12px; margin-top: -5px; max-height: 40px; overflow: hidden; text-overflow: ellipsis;"
                                   th:text="${product.description}">Product description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="card-text" th:text="${'Price: $' + product.price}">Product price</h6>
                                    <a class="btn btn-primary" th:href="@{/user/addToCart(id=${product.id})}">Add to
                                        Cart</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<script>

    function addToWishlist(element) {
        let productId = element.getAttribute('data-product-id');
        $.ajax({
            url: '/user/add-to-wishlist?id=' + productId,
            method: "GET",
            success: function (response) {

                if (response === "success") {
                    alert("Added To Wishlist");
                }else if(response === "sameProduct"){
                    alert("Product Already Exist In Wishlist")
                }
                else {
                    location.href = "/login"
                }
            }
        });
    }


</script>

<!-- Bootstrap JavaScript -->

</body>
</html>