<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Address</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>

<header th:replace="navfragment :: header">

</header>

<div class="container">
    <h1 class="my-4">Update Address</h1>
    <br>

    <!-- Shipping Address Form -->
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Shipping Address</h5>
                    <form th:action="@{'/user/profile/update-address?index=' + ${address_index}}" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Full Name</label>
                                    <input type="text" placeholder="Full Name" th:value="${address.name}" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="mobile" class="form-label">Mobile Number</label>
                                    <input class="form-control" id="mobile" th:value="${address.mobile}" name="mobile" placeholder="Mob" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="address" class="form-label">House No., Building Name</label>
                                    <input type="text" placeholder="Near London Bridge" th:value="${address.address}" class="form-control" id="address" name="address">
                                </div>
                                <div class="mb-3">
                                    <label for="locality" class="form-label">Locality</label>
                                    <input type="text" class="form-control" th:value="${address.locality}" id="locality" name="locality" placeholder="Locality" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" th:value="${address.city}" name="city" placeholder="City" required>
                        </div>
                        <div class="mb-3">
                            <label for="pin" class="form-label">PIN Code</label>
                            <input type="text" class="form-control" id="pin" th:value="${address.pin}" name="pin" placeholder="Pin" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Add Font Awesome for icons (make sure to include the library) -->

</body>


</html>
