<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Wishlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/User/wishlist.css" type="text/css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<body>

<header th:replace="navfragment :: header">

</header>


<div class="container">
    <table class="wishlist-table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:id="'tr-'+${wishlistItem.product.id}" th:each="wishlistItem : ${wishlistItems}">
            <td><img style="height: 150px;width: 150px;" th:src="'/uploads/'+${wishlistItem.product.images_path[0]}"
                     alt="product image"><strong style="margin-left: 20px;"
                                                 th:text="${wishlistItem.product.name}"></strong></td>
            <td><strong style="font-size: 25px;" th:text=" '₹'+ ${wishlistItem.product.price}"></strong></td>
            <td class="available">
                <span style="font-size: 25px;" th:if="${wishlistItem.product.stock < 2}">Out of Stock</span>
                <span style="font-size: 25px;" th:if="${wishlistItem.product.stock >= 2}">In Stock</span></td>
            <td style="text-align: center;">
                <a class="btn btn-primary" th:href="@{/user/addToCart(id=${wishlistItem.product.id})}">Add to Cart</a>
                <button class="btn btn-danger" th:data-product-id="${wishlistItem.product.id}"
                        onclick="removeProductsFromWishlist(this)">
                    Remove
                </button>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function removeProductsFromWishlist(button) {
        let productId = button.getAttribute('data-product-id');
        let tableRow = document.getElementById("tr-" + productId);

        $.ajax({
            url: `/user/removeFromWishlist?id=${productId}`,
            method: "GET",
            success: function (response) {

                tableRow.innerHTML = null;

            }
        });
    }
</script>

</body>
</html>
