/* Style for the coupon code input field */
#couponCode {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* Slightly blurred background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

#couponName {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* Slightly blurred background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Style for the coupon fact textarea */
#couponFact {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* Slightly blurred background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    resize: none; /* Disable textarea resizing */
}

/* Style for the minimum amount input field */
#minimumAmount {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* Slightly blurred background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

#expiryTime {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* Slightly blurred background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Style for the discount percent input field */
#discountAmount {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* Slightly blurred background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Style for the choose input field */
#singleOrMultiple {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* Slightly blurred background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}