
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/User/shoppageStyle.css}" type="text/css">

</head>
<body>
<div class="container">
    <div class="product">
        <img src="/uploads/headphone3.png" alt="Light Red Headphones">
        <h3>Red Headphones</h3>
        <p>High-quality headphones with a vibrant red color.</p>
        <p><span>$101</span>
            <del>$119</del>
        </p>
        <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
    </div>

    <div class="product">
        <img src="/uploads/headphone3.png" alt="Light Red Headphones">
        <h3>New Eco Indigo Headphones</h3>
        <p>Experience eco-friendly sound with our latest headphones.</p>
        <p><span>$101</span>
            <del>$119</del>
        </p>
        <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
    </div>

    <div class="product">
        <img src="/uploads/headphone3.png" alt="Light Red Headphones">
        <h3>Light Red Headphones</h3>
        <p>Enjoy immersive audio with these stylish light red headphones.</p>
        <p><span>$224.25</span>
            <del>$249</del>
        </p>
        <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
    </div><div class="product">
        <img src="/uploads/headphone3.png" alt="Light Red Headphones">
        <h3>Light Red Headphones</h3>
        <p>Enjoy immersive audio with these stylish light red headphones.</p>
        <p><span>$224.25</span>
            <del>$249</del>
        </p>
        <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
    </div><div class="product">
        <img src="/uploads/headphone3.png" alt="Light Red Headphones">
        <h3>Light Red Headphones</h3>
        <p>Enjoy immersive audio with these stylish light red headphones.</p>
        <p><span>$224.25</span>
            <del>$249</del>
        </p>
        <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
    </div>
</div>
</body>
</html>